Hi there!<br />
Somebody in charge over at snstheatre.org thinks you have what it takes to be a(n) <%= @rez.name %>! Isn't that something!<br />
So <a href='http://snstheatre.org/admin'>hustle on over there</a> and make them proud!<br />
Love,<br />
Your Website
