Hey there!<br>
Wow, I've written a lot of emails today. This is the last one I think though. I can't wait till I'm finished with it. Then I can go to bed.<br>
Oh, yeah! I remember what I was supposed to tell you:<br>
Your password at snstheatre.org has been reset.<br>
The new password is <%= @pwd %> . Guard it with your life. Also use it to log in at <a href='http://snstheatre.org/admin'>http://snstheatre.org/admin</a>.<br>
Bedtime!<br>
The Website
