<h1>Congratulations!</h1>
You are now the proud holder of an account here at snstheatre.org! Well, maybe not proud, but a holder nonetheless.<br />
Please be patient while a system administrator is contacted to bless your account with the magical wand of webmastery. You will be contacted shortly with further instructions.<br />
Love,<br />
The Website
