<h2>Welcome to the Admin CMS, <%= session[:user_name] %>!</h2>
This is where all the magic happens. By which I mean content management. Here you can manage all the content of snstheatre.org! Just click on one of the tabs above to get started.<br /><br />
<h3>To Do</h3>
<ul>
  <li>Ticketrez</li>
  <li>Pacecar/named scopes</li>
  <li>show past info</li>
  <li>curtain</li>
  <li>a goddamn search bar</li>
  <li>password changes / resets</li>
  <li>email notifications</li>
  <li>admin menu</li>
</ul>
<h3>Bugs Reported / Laundry List</h3>
<ul>
  <li>none here! yay!</li>
</ul>
<h3>HowTo</h3>
<ul>
	<li>Stylesheets are located in (app root)/public/stylesheets/</li>
	<li>Javascripts are located in (app root)/public/javascripts</li>
	<li>Layouts are located in (app root)/app/views/layouts/</li>
	<li>Views are located in (app root)/app/views/</li>
	<li>Images for the layout are located in (app root)/public/images</li>
	<li>Any uploads that are not images for the layout should be ftp'd to (root)/data/upload/gin/</li>
	<li>Want to do something more advanced and don't know how? <a href='mailto://sewillia@andrew.cmu.edu'>Email me</a> or <a href='http://www.google.com'>google it</a> (not necessarily in that order)</li>
</ul>