<h1>Welcome to the Admin CMS, <%= session[:user_name] %>!</h1>
This is where all the magic happens. By which I mean content management. Here you can manage all the content of snstheatre.org! Just click on one of the tabs above to get started.<br /><br />
<h2>Features Coming Soon</h2>
(if you want to suggest new features, please <a href='mailto:webmaster@snstheatre.org'>email the webmaster</a>)
<ul>
  <li>sql optimization</li>
  <li>ticketrez proof-of-concept</li>
  <li>log entries</li>
  <li>better permissions</li>
</ul>
<h2>Backburner</h2>
(Features that have been suggested and have yet to be started)
<ul>
  <li>pacecar/named scopes</li>
  <li>show past info</li>
  <li>search</li>
  <li>admin menu</li>
  <li>better password reset function</li>
  <li>admin nav/copy</li>
  <li>helper functions</li>
  <li>flavors</li>
  <li>svn rev info</li>
  <li>zebratables/admin styling</li>
</ul>
<br />
<h2>Bugs Reported</h2>
<ul>
  <li>none here! yay!</li>
</ul>
<br />
<h2>HowTo</h2>
<ul>
	<li>Stylesheets are located in (app root)/public/stylesheets/</li>
	<li>Javascripts are located in (app root)/public/javascripts</li>
	<li>Layouts are located in (app root)/app/views/layouts/</li>
	<li>Views are located in (app root)/app/views/</li>
	<li>Images for the layout are located in (app root)/public/images</li>
	<li>Any uploads that are not images for the layout should be ftp'd to (root)/data/upload/gin/</li>
	<li>Want to do something more advanced and don't know how? <a href='mailto://webmaster@snstheatre.org'>Email me</a> or <a href='http://www.google.com'>google it</a> (not necessarily in that order)</li>
</ul>