<h1>Welcome to the Admin CMS, <%= session[:user_name] %>!</h1>
This is where all the magic happens. By which I mean content management. Here you can manage all the content of snstheatre.org! Just click on one of the tabs above to get started.<br /><br />
<h2>Need Help?</h2>
Maybe there's a bug. Maybe you want some feature implemented that isn't. Maybe you want to know about how to use this complicated "Internet" thing. In any case, email the <%= mail_to 'webmaster@snstheatre.org', 'the webmaster' %>.<br/><br/>
<h2>HowTo</h2>
<ul>
	<li>Stylesheets are located in (app root)/public/stylesheets/</li>
	<li>Javascripts are located in (app root)/public/javascripts</li>
	<li>Layouts are located in (app root)/app/views/layouts/</li>
	<li>Views are located in (app root)/app/views/</li>
	<li>Images for the layout are located in (app root)/public/images</li>
	<li>Any uploads that are not images for the layout should be ftp'd to (root)/data/upload/gin/</li>
	<li>Want to do something more advanced and don't know how? <a href='mailto://webmaster@snstheatre.org'>Email me</a> or <a href='http://www.google.com'>google it</a> (not necessarily in that order)</li>
</ul>
