<h2>Welcome to the Admin CMS, <%= session[:user_name] %>!</h2>
This is where all the magic happens. By which I mean content management. Here you can manage all the content of snstheatre.org! Just click on one of the tabs above to get started.<br /><br />
<h3>Purpose of the beta</h3>
<ul>
<li>is the cms easy to navigate? can you get where you need to go?</li>
<li>when creating content, are things self-explanatory? can you create exactly what you wanted? don't be afraid to make feature suggestions</li>
<li>from the public's view, does everything work the way it should? did the cms let you create content that doesn't function, or throws an error?</li>
</ul>
Your help here is greatly appreciated. Feel free to <a href='mailto:sewillia@andrew.cmu.edu' target='_blank'>email me</a> at any time with questions, or answers to those above.<br />
<br />
<i>--Spencer</i><br />
<br />
<br />
<h3>Launch List</h3>
<ul>
  <li>COMPLETE REDESIGN / RELAYOUT<ul>
    <li>twtter bird</li>
    <li>curtain</li>
    <li>colorbox</li>
    <li>navigator arrows</li>
    <li>search results view</li>
    <li>news archive view</li>
    <li>article view</li>
    <li>finalize styles</li>
  </ul></li>
  <li>contact us form</li>
  <li>a goddamn search bar</li>
  <li>advanced routes</li>
</ul>

<h3>Non-Launch List</h3>
<ul>
  <li>some more cool template stuff</li>
  <li>help center?</li>
  <li>password changes / resets</li>
  <li>email notifications</li>
</ul>
<h3>Features Implemented</h3>
<ul>
  <li>carousel now goes around and around</li>
  <li>created scaffolds for roles/visibility permissions</li>
  <li>validation for show and content images</li>
  <li>you can now switch between 'Public View' and 'Full View' (includes unpublished and hidden content)</li>
  <li>validation helper for bad html tags. seriously, some of this stuff is deprecated</li>
	<li>You can now put a template in a content's or news' article!</li>
</ul>
<h3>Bugs Reported / Laundry List</h3>
<ul>
  <li>none here! yay!</li>
</ul>
<h3>Bugs Resolved</h3>
<ul>
  <li>none here either</li>
</ul>
<h3>HowTo</h3>
<ul>
	<li>Stylesheets are located in (app root)/public/stylesheets/</li>
	<li>Javascripts are located in (app root)/public/javascripts</li>
	<li>Layouts are located in (app root)/app/views/layouts/</li>
	<li>Views are located in (app root)/app/views/</li>
	<li>Any uploads that are not images for the layout should be ftp'd to (root)/data/upload/gin/</li>
	<li>Want to do something more advanced and don't know how? <a href='mailto://sewillia@andrew.cmu.edu'>Email me</a> or <a href='http://www.google.com'>google it</a> (not necessarily in that order)</li>
</ul>