/*
#carouselwindow
  #carouselitemscontainer
    .carouselitem
      .carouselimg
      .carouselinfo
        .carouselinfo_name
        .carouselinfo_datecarousel
        .carouselinfo_author
        .carouselinfo_director
        .carouselinfo_perfcarousel
        .carouselinfo_loc
        .carouselinfo_ticketstatus
    ...
#carouselnavigator
  .carouselnavbutton
  #carousellinkswindow
    #carousellinkscontainer
      .carousellink
        .carlinktopcontainer
          .carlinktop
        .carlinkbot
      ...
  .carouselnavbutton
#searchbar
*/

#carouselwindow {
  background: #333333;
  color: white;
  padding: 24px;
  margin: 0px 0px 18px 0px;
  width: 487px;
  height: 302px;
  overflow: hidden;
  position:relative;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
}
#carouselitemscontainer {
  height: 100%;
  position: absolute;
  right: 0;
}
.carouselitem {
  margin: 0px 24px 24px 0px;
  width: 487px;
  height: 100%;
  position: relative;
}
.carouselimg {
  border: 1px solid white;
  height: 300px;
  width: 300px;
}
.carouselinfo {
  padding: 0px 0px 0px 22px;
  height: 100%;
  width: 163px;
}
.carouselinfo_name a {
  font-size: 13pt;
  font-weight: normal;
}
.carouselinfo_datecarousel {
  
}
.carouselinfo_author {
  
}
.carouselinfo_director {
  
}
.carouselinfo_perfcarousel {
  
}
.carouselinfo_loc {
  
}
.carouselinfo_ticketstatus a {

}

#carouselnavigator {
  height: 59px;
  position: relative;
}
.carouselnavbutton {
  width: 8px;
  height: 59px;
  padding: 21px 0px 0px 0px;
  cursor: pointer;
}
#carousellinkswindow {
  display: inline;
  position: relative;
  width: 495px;
  margin: 0px 12px 0px 12px;
  height: 100%;
  overflow: hidden;
}
#carousellinkscontainer {
  position: absolute;
  right: 0;
  height: 100%;
}
.carousellink {
  background: white;
  cursor: pointer;
  height: 100%;
  width: 165px;
}
.carlinktopcontainer {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #EFEFEF;
  padding: 0px 10px 4px 5px;
  height: 32px;
  position: relative;
}
.carlinktop {
  bottom: 0;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: +2px;
  font-weight: bold;
}
.carlinkbot {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #EFEFEF;
  padding: 4px 0px 0px 5px;
}