body {
  background: #EEEEBB url(/images/layout/bg.png) repeat-x scroll left top;
  font-family: "Lucida Grande", "Tahoma", "Verdana", sans-serif;
  font-size: 9pt;
  color: #333333;
	letter-spacing: +2px;
}
a {
  font-weight: bold;
  color: #FF9900;
}
a:hover { color: #00DDDD; }
.orange { color: #ff9900; }
.bold { font-weight: bold; }
.upperbold { font-weight: bold;
  text-transform: uppercase;
  letter-spacing: +2px; }
.upper {
  text-transform: uppercase;
  letter-spacing: +2px;
  font-weight: bold;
}


#container { width: 900px }
#header { height: 80px }
h1 {
  font-family: "Georgia", "Times", serif;
  font-size: 17pt;
  letter-spacing: 0;
  font-weight: normal;
}
h1 a {
  font-size: 26pt;
  display: block;
  padding-top: 15px;
  font-weight: normal;
  color: white;
}
h1 a:hover {
  color: white;
}
#header h2 {
  font-size: 13pt;
  margin-top: -7px;
}
h2 {
  font-family: "Lucida Grande", "Tahoma", "Verdana", sans-serif;
  font-size: 9pt;
  letter-spacing: 2pt;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  margin-top: 0;
}
  /* nav styles */
#nav {
  background: white;
  margin: 0 0 35px 0;
  text-transform: uppercase;
}
#menu > ul {
  list-style-type: none;
  min-width: 900px;
}
#menu > ul > li {
  display: inline-block;
  *display: inline; /* star-hack targets IE7 and below! */
  padding: 0 8px 8px;
  text-align: center;
  vertical-align: top;
}
#menu > ul > li > a {
  color: #333;
  display: inline-block;
  width: 204px;
  padding: 8px 0 6px;
  text-align: center;
  height: 32px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px
}
#menu > ul > li > a:hover {
  background: #DDD;
  color: #333;
}
  /* end nav styles */
  
.article {
  padding: 20px;
  background: #fff;
  margin: 0 0 35px 0;
  letter-spacing: 0;
  
  -webkit-box-shadow: 0 5px 20px #333;  /* black */
  -moz-box-shadow: 0 5px 20px #333;     /* black */
  box-shadow: 0 5px 20px #333;          /* black */
  
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.articletitle {
  font-family: "Georgia", "Times", serif;
  font-size: 17pt;
}
#footer {
  position: relative;
  height: 32px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 12px 0;
  font-size: 7pt;
  background-color: #333;  /* black */
  border: 1px solid #000;
  border-width: 0 0 1px;
  color: #fff;             /* white */
  letter-spacing: 0;
}
#footer a { color: #fff }
#bodyfooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  padding: 0 4px;
  background-color: #333;  /* black */
  border: 1px solid #555;
  border-width: 1px 0 0;
  color: #fff;             /* white */
  z-index: 999;
  letter-spacing: 0;
}
#bodyfooter a { color: white; font-weight: bold; }
#bodyfooter a:hover { color: white; }
#bodyfootertext span {
  height: 15px;
  line-height: 15px;
  margin: 5px 1px;
  padding: 0 10px;
}
.bl { border-width: 0 0 0 1px; border-style: solid; border-color: white; }
.br { border-width: 0 1px 0 0; border-style: solid; border-color: white; }
#twitbird {
  display: none;
  background: transparent url('/images/layout/bird.png') no-repeat;
  position: absolute;
  width: 58px;
  height: 52px;
  top: -46px;
}
#twitbird:hover {
  cursor: pointer; 
}
#twitter_heyclickme {
  text-align:center;
}
.twittercallout {
  display: none;
  color: #333333;
  position: absolute;
  left: 20px;
  bottom: 75px;
  width: 130px;
  padding: 11px;
  font-size: 9pt;
  background: white;
  -webkit-box-shadow: 0 5px 20px #333333;
  -moz-box-shadow: 0 5px 20px #333333;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.twitterstem {
  width: 10px;
  height: 6px;
  position: absolute;
  bottom: -6px;
  left: 40px;
  background: transparent url('/images/layout/stem.png') no-repeat;
}
#twitter_update_list span {
  height: auto;
  margin: 0;
  padding: 0;
}
#twitter_update_list a {
  padding: 0;
  color: #ff9900;
}
#twitter_update_list a:hover {
  color:#00dddd;
}
.tweetdate {
  font-size: 7pt;
}
#adminbutton {
  display:block;
  position: absolute;
  top: 50%;
  right: -36px;
  text-align: right;
  color: white;
  background: #333333;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  padding: 10px 28px;
  font-size: 9pt;
}
#admin {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}
#admin a { color: white }
#admin a:hover { color: #FF9900 }
/* end index layout styles */

/* index view styles */
#indexleft {
  width: 535px;
  height: 427px;  /*TODO change to 460 when you implement search */
}
#indexright {
  width: 279px;
  height: 427px;  /*TODO change to 460 when you implement search */
}
#newswindow {
  margin: 10px 0 0 0;
  height: 391px;
  overflow-y: auto;
}
.newstitle {
  text-transform: uppercase;
  font-weight: bold;
}
.newsdate {
  font-size: 7pt;
}
/* end index view styles */
/* ticket styles */
#ticketsleft {
  width: 280px;
}
#form_id {
  width: 45px;
}
#ticketsright {
  width: 534px;
}
input[type="text"], input[type="password"] {
  border: 1px solid black;
  margin: 2px;
  font-size: 18px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(228,228,228)));
  background-image: -moz-linear-gradient(center bottom, rgb(255,255,255) 0%, rgb(228,228,228) 100%);
}
input[type="text"][disabled], input[type="password"][disabled] {
  border: 1px solid #c4c4c4;
}
input[type="submit"] {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #ff9900;
  color: white;
  border: 0;
  padding: 10px 50px;
  font-weight: bold;
}
input[type="submit"]:hover {
  background: #00dddd;
}
input[type="submit"][disabled] {
  background: #c4c4c4;
}
select {
  font-size: 14px;
  height: 28px;
  position:relative;
  bottom:4px;
}
/* end ticket styles */