body {
  background: #EEEEBB;
  font-family: "Lucida Grande", "Tahoma", "Verdana", sans-serif;
  font-size: 9pt;
  color: #333333;
	overflow-y: scroll;
	margin: 0px;
	padding: 0px;
	letter-spacing: +2px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #FF9900;
}
a:hover { color: #00DDDD; }
.fleft { float: left; }
.fright { float: right; }
.orange { color: #ff9900; }
.bold { font-weight: bold; }
.upperbold { font-weight: bold;
  text-transform: uppercase;
  letter-spacing: +2px; }
h1, h2, ul {
  margin: 0px;
  padding: 0px;
}
.upper {
  text-transform: uppercase;
  letter-spacing: +2px;
  font-weight: bold;
}
table {
  width: 100%;
}

/* index layout styles */
.shadow {
  -webkit-box-shadow: 0px 5px 20px #333333;
  -moz-box-shadow: 0px 5px 20px #333333;
}
.topcorner {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
}
.botcorner {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
}
.bottomleftcorner {
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
}
.bottomrightcorner {
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
}
#banner {
  position: absolute;
  width: 100%;
  height: 137px;
  top: 0;
  left: 0;
  z-index: -2;
  min-width: 900px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(238,238,187)), color-stop(0.41, rgb(255,255,255)), color-stop(0.42, rgb(255,102,0)), color-stop(0.95, rgb(255,153,0)), color-stop(0.96, rgb(255,102,0)));
  background-image: -moz-linear-gradient(center bottom, rgb(238,238,187) 0px, rgb(255,255,255) 57px, rgb(255,102,0) 58px, rgb(255,153,0) 132px, rgb(255,102,0) 137px);
}
#bannernocss3 {
  position:absolute;
  top:0;
  height: 80px;
  width:100%;
  background: #ff6600;
  z-index: -3;
  min-width: 900px;
}
.lights {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
}
#lightsleft {
  left: 0;
  background: transparent url('/images/layout/Lights Left.png') no-repeat 0 0;
}
#lightsright {
  right: 0;
  background: transparent url('/images/layout/Lights Right.png') no-repeat 0 0;
}
#container {
  width: 900px;
  margin: 0px auto;
}
#header {
  height: 80px;
}
h1 {
  font-family: "Georgia", "Times", serif;
  font-size: 17pt;
  letter-spacing: 0;
  font-weight: normal;
}
h1 a {
  font-size: 26pt;
  display: block;
  padding-top: 15px;
  font-weight: normal;
  color: white;
}
h1 a:hover {
  color: white;
}
#header h2 {
  font-size: 13pt;
  line-height: 6px;
}
h2 {
  font-family: "Lucida Grande", "Tahoma", "Verdana", sans-serif;
  font-size: 9pt;
  letter-spacing: 2pt;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  margin-top: 0px;
}
  /* nav styles */
#nav {
  background: white;
  margin: 0px 0px 35px 0px;
  text-transform: uppercase;
}
.navselected {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(222,222,222)), color-stop(1, rgb(255,255,255)));
  background-image: -moz-linear-gradient(center bottom, rgb(222,222,222) 0%, rgb(255,255,255) 100%)
}
#menu ul {
  list-style-type: none;
  min-width: 900px;
  
}
#menu li {
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
}
#menu a {
  color: inherit;
  display: table-cell;
  vertical-align: middle;
  width: 180px;
  height: 48px;
}
#menu a:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(207,255,254)), color-stop(1, rgb(255,255,255)));
  background-image: -moz-linear-gradient(center bottom, rgb(207,255,254) 0%, rgb(255,255,255) 100%);
}
  /* end nav styles */
  
.article {
  padding: 20px;
  background: white;
  margin: 0px 0px 35px 0px;
  letter-spacing: 0;
  -webkit-box-shadow: 0px 5px 20px #333333;
  -moz-box-shadow: 0px 5px 20px #333333;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.articletitle {
  font-family: "Georgia", "Times", serif;
  font-size: 17pt;
}
#footer {
  background: white;
  text-align: center;
  padding: 12px 0px;
  font-size: 7pt;
  letter-spacing: 0;
}
#bodyfooter {
  color: white;
  height: 16px;
  padding: 5px 4px;
  position: relative;
  min-width: 900px;
  letter-spacing: 0;
  background: #333333;
}
#bodyfooter a { color: white; font-weight: bold; }
#bodyfooter a:hover { color: white; }
#bodyfooter span {
  height: 16px;
  margin: 0px 1px;
  padding: 0px 10px;
}
.bl { border-width: 0px 0px 0px 1px; border-style: solid; border-color: white; }
.br { border-width: 0px 1px 0px 0px; border-style: solid; border-color: white; }
#twitbird {
  display: none;
  background: transparent url('/images/layout/bird.png') no-repeat;
  position: absolute;
  width: 58px;
  height: 52px;
  top: -46px;
}
#twitbird:hover {
  cursor: pointer; 
}
#twitter_heyclickme {
  text-align:center;
}
.twittercallout {
  display: none;
  color: #333333;
  position: absolute;
  left: 20px;
  bottom: 75px;
  width: 130px;
  padding: 11px;
  font-size: 9pt;
  background: white;
  -webkit-box-shadow: 0px 5px 20px #333333;
  -moz-box-shadow: 0px 5px 20px #333333;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.twitterstem {
  width: 10px;
  height: 6px;
  position: absolute;
  bottom: -6px;
  left: 40px;
  background: transparent url('/images/layout/stem.png') no-repeat;
}
#twitter_update_list span {
  height: auto;
  margin: 0px;
  padding: 0px;
}
#twitter_update_list a {
  padding: 0px;
  color: #ff9900;
}
#twitter_update_list a:hover {
  color:#00dddd;
}
.tweetdate {
  font-size: 7pt;
}
#adminbutton {
  display:block;
  position: absolute;
  top: 50%;
  right: -36px;
  text-align: right;
  color: white;
  background: #333333;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  padding: 10px 28px;
  font-size: 9pt;
}
#admin {
  position: fixed;
  top: 0;
  bottom: 0px;
  right: 0px;
}
#admin a { color: white }
#admin a:hover { color: #FF9900 }
.articleleft {
  padding: 0px 20px 0px 0px;
  border-width: 0px 2px 0px 0px;
  border-style: solid;
  border-color: #efefef;
  margin: 0px 1px 0px 0px;
}
.articleright {
  padding: 0px 0px 0px 20px;
  border-width: 0px 0px 0px 2px;
  border-style: solid;
  border-color: #efefef;
  margin: 0px 0px 0px 1px;
}
/* end index layout styles */

/* index view styles */
#indexleft {
  width: 535px;
  height: 427px;  /*TODO change to 460 when you implement search */
}
#indexright {
  width: 279px;
  height: 427px;  /*TODO change to 460 when you implement search */
}
#newswindow {
  margin: 10px 0px 0px 0px;
  height: 391px;
  overflow-y: auto;
}
.newstitle {
  text-transform: uppercase;
  font-weight: bold;
}
.newsdate {
  font-size: 7pt;
}
/* end index view styles */
/* ticket styles */
#ticketsleft {
  width: 280px;
}
#form_id {
  width: 45px;
}
#ticketsright {
  width: 534px;
}
input[type="text"], input[type="password"] {
  border: 1px solid black;
  margin: 2px;
  font-size: 18px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(228,228,228)));
  background-image: -moz-linear-gradient(center bottom, rgb(255,255,255) 0%, rgb(228,228,228) 100%);
}
input[type="text"][disabled], input[type="password"][disabled] {
  border: 1px solid #c4c4c4;
}
input[type="submit"] {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #ff9900;
  color: white;
  border: 0px;
  padding: 10px 50px;
  font-weight: bold;
}
input[type="submit"]:hover {
  background: #00dddd;
}
input[type="submit"][disabled] {
  background: #c4c4c4;
}
select {
  font-size: 14px;
  height: 28px;
  position:relative;
  bottom:4px;
}
/* end ticket styles */