<div class='carousellink fleft' onclick='carousel("<%= carousel_link.abbrev %>");'>
  <div class='carlinktop'>
    <%= carousel_link.name %>
  </div>
  <div class='carlinkbot'>
    <%= carousel_link.datenavigator %>
  </div>
</div>