<div class='carousellink fleft' onclick='carousel("<%= carousel_link.abbrev %>");'>
  <div class='carlinktopcontainer'>
    <div class='carlinktop'>
      <%= carousel_link.displayname %>
    </div>
  </div>
  <div class='carlinkbot'>
    <%= carousel_link.datenavigator %>
  </div>
</div>