<%
link = {:controller => "index", :action => "showcontent", :id => content_menu_item.anchor}
link = content_menu_item.anchor if content_menu_item.contenttype == "link"
style = "color:#333333;" if !@content.nil? && content_menu_item.anchor == @content.anchor
menutitle = content_menu_item.title
menutitle = content_menu_item.menutitle if !content_menu_item.menutitle.nil? && !content_menu_item.menutitle.blank?
menutitle = menutitle.split(" ").join("&nbsp;")
hidden = " hidnopub" if !content_menu_item.publish || content_menu_item.hidden
%>
<li class='seconditem item<%= hidden %>'>
	<%= link_to menutitle, link, :style => style %>
</li>