<div id='menu'>
  <ul class='firstmenu menu'>
    <li class='firstitem item'><%= link_to "Performances & Ticket Kiosk", root_url %></li>
  	<% for pane in @panes %>
  		<% if (pane.publish && !pane.hidden) || session[:display_mode] == "full" %>
  			<%= render(:partial => "pane_item", :object => pane) %>
  		<% end %>
  	<% end %>
  </ul>
  <br clear='all' style='height: 0px;' />
</div>