<div class='fleft'>
  <div id='carouselouter' class='b'><div class='bl'><div class='br'><div class='bb'><div class='btl'><div class='btr'><div class='bbl'><div id='carouselinner' class='bbr'>
    put a window here containing a shows container containing each show container. overflow hidden. each show gets a partial (duh)
  </div></div></div></div></div></div></div></div>
  navigator goes here
</div>
<div class='fleft'>
  news go here
</div>