<!--[if IE]>
<div class='article'>
  It looks like you're viewing this page with Internet Explorer. May I suggest you try <a href='http://www.mozilla.com/en-US/firefox/firefox.html' target='_blank'>Firefox</a> instead?
</div>
<![endif]-->
<div class='article'>
  <div id='indexleft' class='fleft'>
    <div id='carouselwindow'>
      <div id='carouselitemscontainer'>
        <% for show in @shows %>
          <%= render :partial => "carousel_item", :object => show %>
        <% end %>
        <br clear='all' style='height: 0px;' />
      </div>
    </div>
    <div id='carouselnavigator'>
      <div class='carouselnavbutton fleft'>i</div>
        <div id='carousellinkswindow' class='fleft'>
          <div id='carousellinkscontainer'>
            <% for show in @shows %>
              <%= render :partial => "carousel_link", :object => show %>
            <% end %>
            <br clear='all' style='height: 0px;' />
          </div>
        </div>
      <div class='carouselnavbutton fright'>i</div>
    </div>
  </div>
  <div id='indexright' class='fright'>
    <div id='newstitle'>News</div>
    <div id='newswindow'>
      <div id='newsitemscontainer'>
        <% for update in @updates %>
          <%= render :partial => "news_item", :object => update %>
        <% end %>
      </div>
    </div>
  </div>
  <br clear='all' />
</div>