<div class='article'>
  stuff
</div>
<div class='article'>
  other stuff
</div>
<!--
     <div id='carouselwindow'>
        <div id='carouselitemscontainer'>
          for show in shows render partial carousel_item object show
          <br clear="all" style="height: 0px;" />
        </div>
      </div>
    
    <div id='carouselnavigator'>
      <div class='arrowbutton arrowbuttonleft fleft'>i</div>
      <div id='carousellinkswindow' class='fleft'>
        <div id='carousellinkscontainer'>
          for show in shows render partial carousel_link object show
        </div>
      </div>
      <div class='arrowbutton arrowbuttonright fleft'>i</div>
    </div>
    
    
        <span class='header'>News</span>
    <div id='newswindow'>
      <div id='newscontainer'>
        for update in updates render partial news_item object update
      </div>
    </div> -->