<%
hidden = " class='hidnopub'" if !@pane.publish
%>
<div id='printedcontent'<%= hidden %>>
	<!-- <h1><%= @pane.title %></h1> -->
	<% for content_item in @contents %>
		<% if content_item.contentpane == @pane.anchor && content_item.contenttype != 'link' && (content_item.publish || session[:display_mode] == "full") %>
			<%= render(:partial => "content_pane_item", :object => content_item) %>
		<% end %>
	<% end %>
</div>