<h1>Oops</h1>
<br />
The fact that you are reading this means one of two things:<br />
(1) the website is broken and a <a href='mailto:webmaster@snstheatre.org'>person who knows what to do</a> should fix it, or<br />
(2) there are no shows open right now.<br />
Either way, there isn't much to look at now, so come back some other time when life is less dull.
