<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Roles:</b>
  <% @user.roles.split("|").map {|r|
    User.role(r)[1]
  }.join(", ") %>
</p>

<% if can? :update, User %><%= link_to 'Edit', edit_user_path(@user) %> | <% end %>
<%= link_to 'Back', users_path %>
