<%
style = ""
style = "color:#333333;" if !@pane.nil? && pane_item.anchor == @pane.anchor
target = "_self"
target = "_blank" if pane_item.panetype=='link'
hidden = ""
hidden = " class='hidnopub'" if !pane_item.publish || pane_item.hidden
%>
<td<%= hidden %>><ul class='firstmenu menu'>
	<li class='firstitem item'><%= link_to pane_item.menulabel, pane_item.link, :style => style, :target => target %></a>
		<% if pane_item.hasmenu || session[:display_mode] == "full" %>
			<ul class='secondmenu menu'>
				<% for content in @contents %>
					<% if content.contentpane == pane_item.anchor && (!content.hidden || session[:display_mode] == "full") %>
						<%= render(:partial => "content_menu_item", :object => content) %>
					<% end %>
				<% end %>
				<li><%= link_to "Edit&nbsp;this&nbsp;pane", edit_pane_path(pane_item) %></li>
			</ul>
		<% end %>
	</li>
</ul></td>