<p>
  <b>Show:</b>
  <%=h @ticketalert.show %>
</p>

<p>
  <b>Email:</b>
  <%=h @ticketalert.email %>
</p>


<% if can? :update, Ticketalert %><%= link_to 'Edit', edit_ticketalert_path(@ticketalert) %> | <% end %>
<%= link_to 'Back', show_path(@show) %>
