<p>
  <b>Show:</b>
  <%=h @ticketalert.show %>
</p>

<p>
  <b>Email:</b>
  <%=h @ticketalert.email %>
</p>


<%= link_to 'Edit', edit_ticketalert_path(@ticketalert) %> | <%= link_to 'Back', show_path(@show) %>