<div id='response' class='article'>
<%
puts "building message for ticketrez"
if @ticketrez.name.nil? or @ticketrez.name.blank?
  puts "name was nil or blank"
  @message += "<br />Name field is required."
end
if @ticketrez.phone.nil? or @ticketrez.phone.blank?
  puts "phone was nil or blank"
  @message += "<br />Phone field is required."
elsif (@ticketrez.phone=~/^(?:(1)?\s*[-\/\.]?)?(?:\((\d{3})\)|(\d{3}))\s*[-\/\.]?\s*(\d{3})\s*[-\/\.]?\s*(\d{4})\s*(?:(?:[xX]|[eE][xX][tT])\.?\s*(\d+))*$/).nil?
  puts "phone didn't parse"
  @message += "<br />Phone number '#{@ticketrez.phone}' is invalid."
end
if !@ticketrez.email.nil? and !@ticketrez.email.blank? and (@ticketrez.email=~/[a-z0-9\!\#\$\%\&\'\*\+\/\=\?\^\_\`\{\|\}\~\-]+(?:\.[a-z0-9\!\#\$\%\&\'\*\+\/\=\?\^\_\`\{\|\}\~\-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/).nil?
  puts "email didn't parse"
  @message += "<br />Email address '#{@ticketrez.email}' is invalid."
end
if @ticketrez.hasid.nil? or @ticketrez.hasid.blank?
  puts "hasid nil or blank"
  @message += "<br />ID field is required."
end
ta=Ticketrez.all(:conditions => ["showid = ?", @ticketrez.showid])
for other in ta
  if other.id!=@ticketrez.id and other.unformattedphone == @ticketrez.unformattedphone
    puts "conflicting reservation (this.unformattedphone==#{@ticketrez.unformattedphone}, other.unformattedphone==#{other.unformattedphone}"
    @message += "<br />There is already a reservation for this phone number. If you wish to change or cancel your reservation go to the url you were given at the time you reserved your tickets. Contact the <a href='mailto:webmaster@snstheatre.org'>system administrator</a> if you're having trouble."
  end
end
@message += "<br /><a href='/tickets/show/#{params[:backto]}'>Back</a>" unless @ajax
puts "ticketrez message built"

if @makerez
  puts "building rezlineitem message"
  @message = "<br />One or more of your ticket quantities was invalid."
  unless @r.quantity.nil? or @r.quantity.blank?
    if @r.quantity==0
      puts "quantity was 0"
    elsif @r.quantity.to_f.nan?
      puts "quantity NaN"
      @message += "<br />Quantity is not a number."
    end
    section=Ticketsection.find(@r.sectionid)
    unless section.nil? or @r.performance.nil? or @r.performance.blank?
      if @r.quantity>section.numavailable(@r.performance)
        puts "quantity>numavailable"
        @message += "<br />Quantity was over number of tickets available for that section and performance."
      end
    else
      puts "section is nil (#{section.nil?}), performance was nil (#{@r.performance.nil?}), or performance was blank (#{@r.performance.blank?})"
    end
  end
  if section.nil?
    puts "section nil"
    @message += "<br />Section ID is invalid. Please contact the <a href='mailto:webmaster@snstheatre.org'>system administrator</a>."
  end
  s=Show.find_by_abbrev(section.showid)
  if s.nil?
    puts "show nil"
    @message += "<br />Show ID is invalid. Please contact the <a href='mailto:webmaster@snstheatre.org'>system administrator</a>."
  else
    perfs=s.performancetimes.split("|")
    foundperf=false
    for perf in perfs
      foundperf=true if DateTime.parse(perf)==DateTime.parse(@r.performance)
    end
    unless foundperf
      puts "couldn't find perf"
      @message += "<br />Performance selection was invalid. Please contact the <a href='mailto:webmaster@snstheatre.org'>system administrator</a>."
    end
  end
  if qty==0
    puts "total qty 0"
    @message += "<br />Ticket quantities are required."
  end
  @message += "<br /><a href='/tickets/show/#{params[:backto]}'>Back</a>" unless @ajax
  puts "built rezlineitem message"
end

if @sendemail
  @message += "<br />The ID for your reservation is #{@ticketrez.hashid}<br />In order to edit or cancel your reservation, visit this link: <a href='http://snstheatre.org/tickets/edit/#{@ticketrez.hashid}'>http://snstheatre.org/tickets/edit/#{@ticketrez.hashid}</a>"
  unless @ticketrez.email.nil? or @ticketrez.email.blank?
    @message += "<br />An email receipt has been sent to #{@ticketrez.email}"
  else
    @message += "<br />You didn't input an email address, so keep track of this ID in case you ever want to change your reservation."
  end
end
%>
<%= @message %>
</div>