<div class='article' style='text-align:center'>
<h1>Your reservation has been canceled.</h1>
<br />
We're sorry to see you go!<br />
<br />
Do you need to make a new reservation?<br />

BUTTONS!: Yes, reserve again | No, take me home
</div>