<div class='article'>
<h1>Thank you!</h1>
<br />
Your tickets have been succesfully reserved and we look forward to seeing you at the show!<br />
<br />
Please visit at the door of <%= @show.loc %> 30 minutes before the performance to pay for and pick up your tickets.<br />
<br />
If for any reason you need to change or cancel your reservation, please visit: 
</div>