<p>
  <b>Roleid:</b>
  <%=h @roleassoc.roleid %>
</p>

<p>
  <b>Userid:</b>
  <%=h @roleassoc.userid %>
</p>


<%= link_to 'Edit', edit_roleassoc_path(@roleassoc) %> |
<%= link_to 'Back', roleassocs_path %>