<p>
  <b>Roleid:</b>
  <%=h @roleassoc.roleid %>
</p>

<p>
  <b>Userid:</b>
  <%=h @roleassoc.userid %>
</p>


<% if User.find(session[:user_id]).hasaccess("roleassocs", "update") %><%= link_to 'Edit', edit_roleassoc_path(@roleassoc) %> |<% end %>
<%= link_to 'Back', users_path %>