<p>
  <b>Roleid:</b>
  <%=h @roleassoc.roleid %>
</p>

<p>
  <b>Userid:</b>
  <%=h @roleassoc.userid %>
</p>


<% if session[:crud]["u"]["roleassocs"] %><%= link_to 'Edit', edit_roleassoc_path(@roleassoc) %> |<% end %>
<%= link_to 'Back', users_path %>