<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset='utf-8' />
</head>
<body>
  Hi there!
  Somebody in charge over at snstheatre.org thinks you have what it takes to be a(n) <%= @r.name %>! Isn't that something!
  So <a href='http://snstheatre.org/admin'>hustle on over there</a> and make them proud!
  Love,
  Your Website
</body>
</html>
