<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset='utf-8' />
</head>
<body>
Congratulations!<br />
You are now the proud holder of an account here at snstheatre.org! Well, maybe not proud, but a holder nonetheless.<b />
Please be patient while a system administrator is contacted to bless your account with the magical wand of webmastery. You will be contacted shortly with further instructions.<br />
Love,<br />
The Website
</body>
</html>
