<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir='ltr' class='js'>
<head>
	<title>Scotch'n'Soda Theatre</title>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<%= stylesheet_link_tag "snstheatre", :media => "all" %>
	<%= javascript_include_tag :defaults, "jquery.js" %>
	<script type='text/javascript'>
    jQuery.noConflict();
	</script>
</head>
<body>
  <div id='topbanner'>
    <div id='tbcontainer'>
      we'll deal with it later
    </div>
    <div class='w cornercontainer'><div class='wl'><div class='wr'><div class='wb'><div class='wbl'><div class='wbr hasbottom body allcaps'>
      <%= render :partial => "menu" %>
    </div></div></div></div></div></div>
  </div>
	<div class='w cornercontainer topmargin'><div class='wl'><div class='wr'><div class='wb'><div class='wtl'><div class='wtr'><div class='wbl'><div class='wbr hasbottom'>
    <div id='view'><%= yield :layout %></div>
	</div></div></div></div></div></div></div></div>
  <div class='w cornercontainer topmargin'><div class='wl'><div class='wr'><div class='wtl'><div class='wtr hastop caption'>
    we'll deal with it later
  </div></div></div></div></div>
</body>
</html>